In [1]:
#Creting a dictionary of indian states and writing into Json file

Indian_states={"Andhra":"Amaravathi",
                "Telangana":"Hyderabad",
              "Tamilandu":"Chennai",
              "Karnataka":"Banglore",
              "Maharastra":"Mumbai",
              "Kerela":"Thiruvananthapuram",
              "Goa":"Panaji"}

In [2]:
Indian_states

{'Andhra': 'Amaravathi',
 'Telangana': 'Hyderabad',
 'Tamilandu': 'Chennai',
 'Karnataka': 'Banglore',
 'Maharastra': 'Mumbai',
 'Kerela': 'Thiruvananthapuram',
 'Goa': 'Panaji'}

In [3]:
import json
with open("states.json",'w') as file_handler:
    file_handler.write(json.dumps(Indian_states))

In [5]:
json.dumps(Indian_states)

'{"Andhra": "Amaravathi", "Telangana": "Hyderabad", "Tamilandu": "Chennai", "Karnataka": "Banglore", "Maharastra": "Mumbai", "Kerela": "Thiruvananthapuram", "Goa": "Panaji"}'

In [6]:
Emp={"employee":[
    {
        "Name":"Harika",
        "DOB":"15-03-2000",
        "Height":"5.3",
        "City":"Ongole",
        "State":"AP"
    },
    {
        "Name":"Akash",
        "DOB":"15-08-2002",
        "Height":"5.11",
        "City":"Ongole",
        "State":"AP"
    },
    {
        "Name":"pavani",
        "DOB":"17-03-2001",
        "Height":"5.3",
        "City":"Ongole",
        "State":"AP"
    },
    {
        "Name":"Swapna",
        "DOB":"15-08-1999",
        "Height":"5.3",
        "City":"Ongole",
        "State":"AP"
    },
    {
        "Name":"Narasimha",
        "DOB":"15-08-2000",
        "Height":"5.11",
        "City":"Ongole",
        "State":"AP"
    }
]
}

In [7]:
import json
with open("Emp.json",'w') as file_handler:
    file_handler.write(json.dumps(Emp))

In [8]:
json.dumps(Emp)

'{"employee": [{"Name": "Harika", "DOB": "15-03-2000", "Height": "5.3", "City": "Ongole", "State": "AP"}, {"Name": "Akash", "DOB": "15-08-2002", "Height": "5.11", "City": "Ongole", "State": "AP"}, {"Name": "pavani", "DOB": "17-03-2001", "Height": "5.3", "City": "Ongole", "State": "AP"}, {"Name": "Swapna", "DOB": "15-08-1999", "Height": "5.3", "City": "Ongole", "State": "AP"}, {"Name": "Narasimha", "DOB": "15-08-2000", "Height": "5.11", "City": "Ongole", "State": "AP"}]}'

In [13]:
f=open('Emp.json',)
data=json.load(f)
for i in Emp.values():
    #print(i)
    for j in i:
        print(j)
f.close()

{'Name': 'Harika', 'DOB': '15-03-2000', 'Height': '5.3', 'City': 'Ongole', 'State': 'AP'}
{'Name': 'Akash', 'DOB': '15-08-2002', 'Height': '5.11', 'City': 'Ongole', 'State': 'AP'}
{'Name': 'pavani', 'DOB': '17-03-2001', 'Height': '5.3', 'City': 'Ongole', 'State': 'AP'}
{'Name': 'Swapna', 'DOB': '15-08-1999', 'Height': '5.3', 'City': 'Ongole', 'State': 'AP'}
{'Name': 'Narasimha', 'DOB': '15-08-2000', 'Height': '5.11', 'City': 'Ongole', 'State': 'AP'}